<ion-header>
  <ion-navbar>
    <ion-buttons start >
      <button ion-button icon-only menuToggle>
        <ion-icon name="ios-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
    <ion-buttons end >
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="userData">
        <ion-card-header>{{ userData.username }}</ion-card-header>
        <img [src]="userData.picture" />
        <ion-card-content>
          <p>Email: {{ userData.email }}</p>
          <p>First Name: {{ userData.first_name }}</p>
        </ion-card-content>
      </ion-card>
  <!-- balance and login information  -->
  <ion-grid class="blanceGrid">
    <ion-row>
      <ion-col col-auto>
        <div class="avatarContent">
          <img src={{photo}}/>
          <div>
            <p *ngFor="let item of items2$ |async">
              <!-- {{{{ item.payload.key | json }} {{ item.payload | json }} }}  !-->
              {{item.currentbalance }} €
        </p>
            <ion-item>
              <ion-range disabled="true" [(ngModel)]="balance"  ></ion-range>
            </ion-item>
            <span>Current balance</span>
          </div>
        </div>
      </ion-col>
      <ion-col col>
        <div class="loginInfo">
          <h5>Welcome</h5>
          <p>{{username}}</p>
          <ion-item *ngFor="let post of posts">
      <h2>{{post.data.subreddit_id  | json}}</h2>
      <p>{{post.subreddit_id  | json}}</p>
    </ion-item>
  <!--         <p>{{ posts | json }}</p> !-->


       <ion-list>

</ion-list>
          <p class="myLabel">Last Successful Login</p>
          <p>
            <span>April 2018</span>
            -
            <span>5:30:28 AM</span>
          </p>

           <p class="myLabel">Last Failed Login</p>
          <p>
            <span>April 2018</span>
            -
            <span>5:30:28 AM</span>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- graphs container -->
  <ion-list class="graphs">
    <ion-list-header>
      Click on the graphs to view more details
    </ion-list-header>

      <ion-item>
        <p>Net Worth</p>
        <div class="container">
          <ion-item>
            <ion-range disabled="true" [(ngModel)]="netWorth"  ></ion-range>
          </ion-item>
            <p>
              <span>Net Worth</span>
              <span>2000 €</span>
            </p>
        </div>
      </ion-item>

      <ion-item>
        <p>Deposits</p>
        <div class="container">
          <ion-item>
            <ion-range disabled="true" [(ngModel)]="deposits"  ></ion-range>
          </ion-item>
            <p>
              <span>deposits</span>
              <span>2000 €</span>
            </p>
        </div>
      </ion-item>

  </ion-list>

  <!-- most use -->
  <div class="mostUse">
    <p class="myTitle">Most Use</p>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button block ion-button (click)="goTo('PersonalAccountPage')" >
            <ion-icon class="banki-user-1"></ion-icon>
            <p>Accounts</p>
          </button>
        </ion-col>
        <ion-col col-3>
          <button block ion-button (click)="goTo('TransferPage')">
            <ion-icon class="banki-transfer"></ion-icon>
            <p>Transfer</p>
          </button>
        </ion-col>
        <ion-col col-3>
          <button block ion-button (click)="goTo('ProfilePage')">
            <ion-icon class="banki-setting"></ion-icon>
            <p>Profile</p>
          </button>
        </ion-col>
        <ion-col col-3>
          <button block ion-button (click)="goTo('ContactUsPage')">
            <ion-icon class="banki-location"></ion-icon>
            <p>About</p>
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>
